<footer class="largeur">
    <div class="container">
        <div class="row">
            <div class="col-6-sm col-3 alpha mrge_tabl">
                <img src="images/logo.png" alt="logo crearchitex">
                <p>Rejoingnez-nous ... </p>

                <ul class="social-links">
                    <li>
                        <a href="https://developpeur-web-liege">
                            <i class="fas fa-link"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/jphNovitz">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/jphNovitz">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/jphnovitz/">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.youtube.com/watch?v=zTpnDT5_YKY">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    {# <img class="lien" src="{{ asset('images/flickr.png') }}" alt="flickr"> #}

                </ul>
            </div>

            <div class="col-6-sm col-3 alpha mrge_tabl"><h3>Contact</h3>
                <p class="footer_address">
                    <span class="title">Adresse:</span>
                    <span class="footer_content">Liège (Province)
                        </span>

                </p>
                <p >
{#                <p class="footer_phone">#}
{#                    <span class="title">Tél: </span>#}
                    <i class="fab fa-whatsapp"></i>:&nbsp;
                    <span class="footer_content">
                         +32(0)60 21 57 59
                    </span>
                </p>
                <p class="footer_mail">
                    <span class="title">Email: </span>
                    <span class="footer_content">
                        <a href="mailto:hello@jphnovitz.be">hello@jphnovitz.be </a>
                    </span>
                </p>
            </div>

            <div class="col-6-sm col-3 alpha twt">
              {#  {{ render(controller(
                    'App\\Controller\\Twitter\\TwitterController::getLatestTweets'
                )) }}#}
                {% include '_partials/home/latest_tweets.html.twig' with {'tweets': null} %}

            </div>


            <div class="col-6-sm col-3 alpha mrge_tabl">
                {{ render(controller(
                    'App\\Controller\\News\\NewsController::showNewsFront', {limit: 3}
                )) }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="copyr center">
                <p>&copy; Copyright 2014 - Reloaded 2020 &nbsp; &nbsp; .::. <a
                            href="https://github.com/jphNovitz/sf_crearchitex" class="evid"> Architex</a>
                    (Novitz Jean-Philippe <a href="https://jphnovitz.be">développeur web à Liège </a>) &nbsp; &nbsp; .::. &nbsp; &nbsp; plan du site</p>
            </div>
        </div>
    </div>

</footer>

<div class="air">
    &nbsp;
</div>
<script src="{{ asset('js/jquery-1.9.0.min.js') }}"></script>
<script src="{{ asset('js/jquery.hoveraccordion.js') }}"></script>
<script src="{{ asset('js/jquery.hoveraccordion.min.js') }}"></script>
<script src="{{ asset('js/jquery.nivo.slider.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('#slider').nivoSlider();
    });
</script>
</body>
</html>
