{# Nivo jquery Slider
                https://github.com/Codeinwp/Nivo-Slider-jQuery
#}
<article class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
        <img src="{{ asset('images/slider/sli1.jpg') }}"
             data-thumb="{{ asset('images/slider/sli1.jpg') }}"
             alt="slider-1"
             data-transition="fade"/>
        <img src="{{ asset('images/slider/big-our-1.jpg') }}"
             data-thumb="{{ asset('images/slider/big-our-1.jpg') }}"
             alt="big-our-1"
             data-transition="fade"/>
        <img src="{{ asset('images/slider/big-our-2.jpg') }}"
             data-thumb="{{ asset('images/slider/big-our-2.jpg') }}"
             alt="big-our-2"
             data-transition="fade"/>
        <img src="{{ asset('images/slider/big-our-3.jpg') }}"
             data-thumb="{{ asset('images/slider/big-our-3.jpg') }}"
             alt="big-our-3"
             data-transition="fade"/>
        <img src="{{ asset('images/slider/big-our-4.jpg') }}"
             data-thumb="{{ asset('images/slider/big-our-4.jpg') }}"
             alt="big-our-4"
             data-transition="fade"/>
        <img src="{{ asset('images/slider/big-our-5.jpg') }}"
             data-thumb="{{ asset('images/slider/big-our-5.jpg') }}"
             alt="big-our-5"
             data-transition="fade"/>
        <img src="{{ asset('images/slider/big-our-6.jpg') }}"
             data-thumb="{{ asset('images/slider/big-our-6.jpg') }}"
             alt="big-our-6"
             data-transition="fade"/>
        <img src="{{ asset('images/slider/big-our-7.jpg') }}"
             data-thumb="{{ asset('images/slider/big-our-7.jpg') }}"
             alt="big-our-7"
             data-transition="fade"/>
        <img src="{{ asset('images/slider/big-our-8.jpg') }}"
             data-thumb="{{ asset('images/slider/big-our-8.jpg') }}"
             alt="big-our-8"
             data-transition="fade"/>
    </div>

</article>