{% extends "Default/base.html.twig" %}
{% block body %}


    <section class="container">
        <article class="col-12-sm">
            <p class="top">
                Le bureau d'architechture <span class="evid">Crearchitech</span> allie création et
                techniques.
                <br/>Construction, rénovation et design d'intérieur.
            </p>

            {#  Nivo jquery Slider
                https://github.com/Codeinwp/Nivo-Slider-jQuery
            #}
            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider">
                    <img src="{{ asset('images/slider/sli1.jpg') }}"
                         data-thumb="{{ asset('images/slider/sli1.jpg') }}"
                         alt="slider-1"
                         data-transition="fade"/>
                    <img src="{{ asset('images/slider/big-our-1.jpg') }}"
                         data-thumb="{{ asset('images/slider/big-our-1.jpg') }}"
                         alt="big-our-1"
                         data-transition="fade"/>
                    <img src="{{ asset('images/slider/big-our-2.jpg') }}"
                         data-thumb="{{ asset('images/slider/big-our-2.jpg') }}"
                         alt="big-our-2"
                         data-transition="fade"/>
                    <img src="{{ asset('images/slider/big-our-3.jpg') }}"
                         data-thumb="{{ asset('images/slider/big-our-3.jpg') }}"
                         alt="big-our-3"
                         data-transition="fade"/>
                    <img src="{{ asset('images/slider/big-our-4.jpg') }}"
                         data-thumb="{{ asset('images/slider/big-our-4.jpg') }}"
                         alt="big-our-4"
                         data-transition="fade"/>
                    <img src="{{ asset('images/slider/big-our-5.jpg') }}"
                         data-thumb="{{ asset('images/slider/big-our-5.jpg') }}"
                         alt="big-our-5"
                         data-transition="fade"/>
                    <img src="{{ asset('images/slider/big-our-6.jpg') }}"
                         data-thumb="{{ asset('images/slider/big-our-6.jpg') }}"
                         alt="big-our-6"
                         data-transition="fade"/>
                    <img src="{{ asset('images/slider/big-our-7.jpg') }}"
                         data-thumb="{{ asset('images/slider/big-our-7.jpg') }}"
                         alt="big-our-7"
                         data-transition="fade"/>
                    <img src="{{ asset('images/slider/big-our-8.jpg') }}"
                         data-thumb="{{ asset('images/slider/big-our-8.jpg') }}"
                         alt="big-our-8"
                         data-transition="fade"/>
                </div>

            </div>


        </article>
    </section>
        <div class="container_12 middle">
            <div class="alpha"></div>
            <div class="grid_4 tabl_col"><span class="num">1</span>
                <h1> Construction</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus ac sapien nec pellentesque.
                    Nulla facilisi. Praesent ut urna a massa ultricies sagittis. Pellentesque feugiat justo in dapibus
                    hendrerit.</p></div>
            <div class="grid_4 tabl_col"><span class="num">2</span>
                <h1>Renovation</h1>
                <p>Donec posuere nibh ligula, et iaculis odio lacinia sit amet. Mauris quis magna felis.</p></div>
            <div class="grid_4 tabl_col"><span class="num">3</span>
                <h1>intérieur</h1>
                <p>Curabitur auctor hendrerit nisi in dictum. Curabitur turpis sem, vestibulum ut auctor et, aliquam
                    eget lorem. Nam blandit quam eget sapien ornare, sit amet egestas orci ullamcorper.</p></div>
            <div class="omega"></div>

        </div>

        <div class="clearfix"></div>

        <div class="container_12 bottom">
            <h1>Travaux Récents </h1>
            {% for project in projects %}
                <div class="grid_4 tabl_col ">

                    <a class="example-image-link" href=""
                       data-lightbox="images-index" data-title="{{ project.title }}">
                        {% if (project.image is defined) and (project.image is not null) %}
                            <img src="images/big-our-8.jpg"
                                 alt="{{ project.title }}"/>
                        {% else %}
                            <img src="https://via.placeholder.com/300/008000/FFFFFF/?text=Crearchitex"
                                 alt="{{ project.title }}">
                        {% endif %}
                    </a>


                    <h2>{{ project.title }}</h2>
                    <p>{{ project.description }}</p>
                </div>
            {% endfor %}
        </div>

    </section>



{% endblock %}





