{% extends "::base.html.twig"%}
{% block body %}

    <div class="subtitle">

        <div class="container_12">
            <h1>Notre équipe</h1>
        </div>
    </div>

    <section class="container_12">

        <p>Le bureau est composé de 4 collaborateurs spécialisés dans le domaine de m'architecture ayant acquis une connaissance approfondie, basée sur l'expérience et l'envie de perfectionnement.  Cette équipe est composée d'architectes, de dessinateurs, de graphistes et de techniciens expérimentés.</p>



        <div class="cite"><p>Les détails font la perfection, la perfection n'est pas un détail...</p>
            <span class="push_cite_2"> <a href="#">De Vinci</a> Léonard</span>
            <span class="push_cite_1"> &nbsp; </span>
        </div>
        <span class="push_cite_1"> </span>


        {% if equipe is defined  %}
            {% for membre in equipe %}
                {% if membre.isVisible==1 %}
                    <div class="grid_5 equipe"> 
                        <img src="{{membre.url}}" alt="equipe" />
                        <p class="tit"><span class="memb">{{membre.nom}} {{membre.prenom}}</span>
                            <br />  {% for fct in membre.fonctions %}
                            {{fct.titre}}
                            {% endfor %}
                            </p>
                            <p>{{membre.description}}</p>
                            {% endif %}
                            </div>
                            {% endfor%}
                                {% endif %}
                                </div>

                            </section>



                            {% endblock %}





