{% extends 'Default/base.html.twig' %}
{% block body %}

    <div class="subtitle">

        <div class="container_12">
            <h1>Différents projets</h1>
        </div>
    </div>

    <section class="container projet">
        <div class="row">
            {% for project in projects %}
                <div class="col-6-sm col-3 thumbnail ">
                    <a href="#" data-id=" {{ project.id }}" class="zoom-it">

                        {% if (project.images is defined) and (project.images is not empty) %}
                            <img src="images/big-our-2.jpg" alt="{{ project.title }} crearchitex"/>
                        {% else %}
                            <img src="{{ asset('images/big-our-2.jpg') }}" alt="{{ project.title }} crearchitex"/>
                        {% endif %}
                        <div class="cache">
                            <h2>{{ project.title }}</h2>
                            <p>
                                {{ project.description }}
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {#
        <div class="grid_3 vignette alpha"> <a href=#zoom_1>
                <img src="images/big-our-1.jpg" alt="ProjetArchi projet" />
                <div class="cache">
                    <h2>Pré Maho</h2> 
                    <p>
                        Ce batiment a toutes les caractérristiques d'un bâtiment à très hautes performances énergétiques, ce qui en fait le premier hôtel de cette catégorie.
                    </p>
                </div>
            </a>
        </div>  
        <div class="grid_3 vignette "> <a href=#zoom_1>
                <img src="images/big-our-2.jpg" alt="ProjetArchi projet" />
                <div class="cache">
                    <h2>cuisine</h2> 
                    <p>
                        Ce batiment a toutes les caractérristiques d'un bâtiment à très hautes performances énergétiques, ce qui en fait le premier hôtel de cette catégorie.
                    </p>
                </div>
            </a>
        </div>  
        <div class="grid_3 vignette "> <a href=#zoom_1>
                <img src="images/big-our-3.jpg" alt="ProjetArchi projet" />
                <div class="cache">
                    <h2>Intérieur</h2> 
                    <p>
                        Ce batiment a toutes les caractérristiques d'un bâtiment à très hautes performances énergétiques, ce qui en fait le premier hôtel de cette catégorie.
                    </p>
                </div>
            </a>
        </div>  
        <div class="grid_3 vignette omega"> <a href=#zoom_1>
                <img src="images/big-our-4.jpg" alt="ProjetArchi projet" />
                <div class="cache">
                    <h2>Chambre</h2> 
                    <p>
                        Ce batiment a toutes les caractérristiques d'un bâtiment à très hautes performances énergétiques, ce qui en fait le premier hôtel de cette catégorie.
                    </p>
                </div>
            </a>
        </div>  
        <div class="grid_3 vignette alpha"> <a href=#zoom_1>
                <img src="images/big-our-5.jpg" alt="ProjetArchi projet" />
                <div class="cache">
                    <h2>Transformation</h2> 
                    <p>
                        Ce batiment a toutes les caractérristiques d'un bâtiment à très hautes performances énergétiques, ce qui en fait le premier hôtel de cette catégorie.
                    </p>
                </div>
            </a>
        </div>  
        <div class="grid_3 vignette "> <a href=#zoom_1>
                <img src="images/big-our-6.jpg" alt="ProjetArchi projet" />
                <div class="cache">
                    <h2>Casemates</h2> 
                    <p>
                        Ce batiment a toutes les caractérristiques d'un bâtiment à très hautes performances énergétiques, ce qui en fait le premier hôtel de cette catégorie.
                    </p>
                </div>
            </a>
        </div>  
        <div class="grid_3 vignette "> <a href=#zoom_1>
                <img src="images/big-our-7.jpg" alt="ProjetArchi projet" />
                <div class="cache">
                    <h2>construction</h2> 
                    <p>
                        Ce batiment a toutes les caractérristiques d'un bâtiment à très hautes performances énergétiques, ce qui en fait le premier hôtel de cette catégorie.
                    </p>
                </div>
            </a>
        </div>  
        <div class="grid_3 vignette omega"> <a href=#zoom_1>
                <img src="images/big-our-8.jpg" alt="ProjetArchi projet" />
                <div class="cache">
                    <h2>Casemate</h2> 
                    <p>
                        Ce batiment a toutes les caractérristiques d'un bâtiment à très hautes performances énergétiques, ce qui en fait le premier hôtel de cette catégorie.
                    </p>
                </div>
            </a>
        </div> #}

    </section>
{% endblock %}





